<?xml version="1.0"?>
<model_config version="1.0">  <!-- 根标签修正为model_config -->
  <name>map_world</name>  <!-- 与文件夹名一致 -->
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>  <!-- 与模型SDF版本统一 -->
  <author>
    <name>xu</name>
  </author>
  <description>Robocon比赛场地地图</description>
</model_config>